﻿@{
    ViewData["Title"] = "Amarishwer Edam";
}
<h2>@ViewData["Title"]</h2>


<address>
    1115 N college Dr, APT 101<br />
    Maryville, Missouri, 64468<br />
    <abbr title="Phone">P:</abbr>
    660.853.1497
</address>

<address>
    <strong>mail me at:</strong> <a href="s528121@nwmissouri.edu">s528121@nwmissouri.edu</a><br />
   
</address>
